* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: greenyellow;
  display: flex;
  width: 100%;
  height: 3rem;
  gap: 2rem;
  align-items: center;
}

.login {
  margin: 0 2rem 0 auto;
}

.sidebar {
  width: 15%;
  height: 100dvh;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
}

.navbar a {
  color: rgb(17, 17, 192);
}

.sidebar a {
  margin: auto;
  color: white;
}

.mid {
  display: flex;
}